<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#157878" />
    <meta name="description" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../assets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <p>Mantis Theme</p>
      <p>Mantis is a still, simple theme for informative purposes</p>
    </header>
    <main>
      <h1>title</h1>
      <p>
        <del>delete</del>
        <strong>strong</strong>
        <em>ipsum dolor sit amet consectetur</em> adipisicing elit. Modi quia
        <strong><em>praesentium commodi totam atque,</em></strong>
        praesentium commodi totam atque, voluptate sint numquam fuga quos at
        necessitatibus earum aliquam nostrum nisi corporis, nihil vel fugit
        quod?
        <a href="">ddfgdfgdfgfdg</a>
      </p>
      <blockquote><p>citando a afdds fsaf g gegr</p></blockquote>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sint quo
        assumenda, commodi maxime quia cum libero voluptatem necessitatibus.
        Officiis laudantium autem quisquam accusamus soluta neque hic natus
        laboriosam ullam!
      </p>
      <button>Button</button>
      <pre>
jajaaj aj ja jas   r
        sgsdgrtg
        wergwrgrwtgwrgwergwerg wegt 4g 545w4 
        weg ewrg werg 
        <code>console.log('Tu puta madre')</code>
      </pre>
      <ul>
        <li>sdgf ewr</li>
        <li>sdgf ewr</li>
        <li>sdgf ewr</li>
        <li>sdgf ewr</li>
        <li>
          sdgf ewr
          <ul>
            <li>dfdf</li>
            <li>blabla</li>
          </ul>
        </li>
      </ul>
      <ol>
        <li>dfsgfdsg</li>
        <li>dfsgfdsg</li>
        <li>dfsgfdsg</li>
        <li>
          dddfdf
          <ol>
            <li>sd</li>
            <li>ff</li>
            <li>aa</li>
          </ol>
        </li>
      </ol>
      <h2>title</h2>
      <h3>title</h3>
      <h4>title</h4>
      <h5>title</h5>
      <h6>title</h6>
    </main>
    <footer>footer</footer>
  </body>
</html>
